* {
    padding: 0;
    margin:0 ;
}

body {
    background-color: #1a1814;
    color: #cda45e;
}

.navbar {
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.brand img {
    width: 60px;
    height: 60px;
    margin: 0 15px 0 50px; 
}

.brand h2 {
    letter-spacing: 2px;
}

.nav-menu ul{
    display: grid;
    grid-template-columns: repeat(4 ,auto);   
    gap: 10px;
    justify-content: end;
}

.nav-menu ul li{
   display: inline;
   list-style-type: none;

}
.nav-menu ul li a{
    text-decoration: none;
    color: #cda45e;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
.nav-menu ul li a:hover{
    background-color: #cda45e;
    color: white;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../images/hero-imge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-text {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;

}

.hero-text .tag-line{
    margin: 20px 0;
}

.Order-button {
    display:inline-block ;
    padding: 20px 30px;
    background-color: #cda45e;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.Order-button:hover {
    background-color: #917543;
}

.signature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 70px;
    columns: 50px;
}

.signature-img {
    width: 100%;
    height: auto;
    justify-self: center;
}
 
.signature-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.signatuer-about {
    font-size: 50px;
    color: white;

}
.signature-about {
    padding: 20px;
    font-size: 20px;
}

.home-about{
    background-image:url(../images/hone-about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode:multiply ;

    display: flex;
    flex-direction: column;
    padding: 50px 200px;
    text-align: center;
    align-items: center;
}

.home-about h2{
    color: white;
    font-size: 50px;

}

.home-about p{
    padding: 25px 0;
    font-size: 20px;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #cda45e;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.btn:hover{
    background-color: #917543;
}
/* special */
.special{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 70px;
    column-gap: 50px;
}
.special-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.special-about h2{
    font-size: 50px;
    color: white;
}
 
.special-about p{
    padding: 30px 0;
    font-size: 20px;
}
.special-img {
    width: 100%;
    height: auto;
    justify-self: center;
}
 /* silonetea */

.silonetea {
    background-image: url(../images/sionetea-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;

}

.silonetea-img{
    width: 20%;
    height: auto;
}

.silonetea-about{
    padding:0 200px;
    text-align:center;
    color: white;
}

.silonetea-h1{
    font-size: 50px;
    padding: 10px 0 20px 0;
}
.silonetea p{
    font-size: 20px;
    padding: 0 0 20px 0;
}

/* Our Popular */
.our-menu-title{
    margin: 100px 0 50px 0;
    font-size: 50px;
    color:white;
    text-align: center;
}

.our-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    columns: 20px;
    margin: 0 70px;
}
.item-img{
    width: 100%;
}

.menu-item{
    background-color: #26231d;
    border-radius: 10px;
    overflow: hidden;
}
.menu-item .content {
    padding: 20px;
    text-align: center;
}

.menu-item .title{
    font-size: 20px;
    color: #bdbdbd;
    font-weight: bold;
    margin-bottom: 10px;
}
.menu-item .price {
    font-size: 10px;
    font-weight: bold;
    color: #cda45e;
}

.view-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 70px 0;
}
/* contact */
.Contact h1{
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 120px 0 50px 0;
}

.contact-us{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 100px 70px;
}

.contact-info .info{
    display: flex;
    padding: 20px 0;
}

.contact-icon{
    position: relative;
    width: 44px;
    height: 44px;
    background-color: #cda45e;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
}

/* form */
.form-group{
    margin-bottom: 20px;
}

.form-group label{
    display: block;
    font-weight: bold;
}

.form-group input, .form-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1a1814;
}

.contact-form button{
    margin: 0 auto;
    display: block;
    width: 30%;
}

/* footer */

.footer{
    background-color: black;
    padding: 50px 0;
    color: white;
    text-align: center;
}

.footer .footer-title{
    color: white;
    font-weight: bold;
}

.footer .dev{
    text-decoration: none;
    color: #cda45e;
    font-weight: bold;
}